:root {
    --primary-color: rgb(83, 149, 172);
    --accent1-color: rgb(62, 87, 62);
    --heading-font: serif;
    --body-font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var();
    color: var();
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var();
    color: var();
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 5rem;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var();
    color: white;
}

article {
    position: absolute;
    border: black;
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px black;
    margin: 16px;
    box-shadow: gray;
}