:root {
    --primary-color: black;
    --accent1-color: rgb(62, 87, 62);
    --heading-font: serif;
    --body-font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

p {
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 3rem;
    height: auto;
}

.hero article {
    position: absolute;
    top: 33rem;
}

.hero {
    position: relative;
    padding-bottom: 2rem;
}

.hero h1 {
    position: absolute;
}

.hero img {
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px black;
    margin: 16px;
    box-shadow: 0 0 30px gray;
}

header {
    display: grid;
    padding: 1rem;
    box-shadow: 0 0 30px gray;
    background-color: rgb(188, 255, 175);
    grid-template-columns: 60% 10%;
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

section h2 {
    position: relative;
    text-align: center;
    width: 100%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    display: block;
    height: auto;
}

figcaption {
    text-align: center;
}

footer {
    margin-top: 15px;
    border-top: var(--border-width) solid var(--color);
    text-align: var(--text-align);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: rgb(188, 255, 175);
    border: 1px solid black
}

footer p {
    flex: 1;
    text-align: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.contact {
    padding-top: 7.5rem;
    display: flex;
    flex-direction: column;
    gap: 1px;
    text-align: center;
}

.employee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
}

.employee img {
    width: 100%;
}

.employee h2 {
    grid-column: 1/-1;
    margin-bottom: 1rem;
}

.employee p {
    margin: 0;
}