*,
*::before,
*::after {
    box-sizing: border-box;
}

main {
    width: 700px;
    margin: 0 auto;
    background-color: #d3d3d3;
    padding: 1.25rem;
}

fieldset {
    border: 5px solid black;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
    padding: 0 10px;
}

input:focus,
select:focus,
textarea:focus {
    font-size: 1.25em;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

.code {
    background-color: #09014b;
    color: #f3f3f3;
    font-family: monospace;
    padding: 10px 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}

.number {
    font-weight: bold;
    font-size: 2em;
    color: red;
    font-style: italic;
}

button {
    font-size: 1.25em;
    padding: 10px 20px;
    background-color: green;
    color: #f3f3f3;
    border: 5px dashed black;
    border-radius: 5px;
    cursor: pointer;
}