table {
    border-collapse: collapse;
    border: 2px solid grey;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: black;
    color: white;
    font-weight: 700;
}