* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    --heading-background-color: darkblue;
    --color: #333;
    --text-align: center;
    --height: auto;
    --border-width: 1px;
}

nav a {
    display: block;
    text-decoration: none;
    background-color: var(--heading-background-color);
    color: white;
    padding: 1.25rem;
}

h1 {
    border-bottom: 1px solid var(--color);
}

img {
    width: 100%;
    height: var(--height);
    border: var(--border-width) solid var(--color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    display: grid;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    display: grid;
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    border: var(--border-width) solid var(--color);
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    margin-left: 2rem;
    padding: 1rem;
}

aside img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: var(--height);
    position: relative;
    text-align: center;
}

aside h2 {
    text-align: center;
    margin-top: 3rem;
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--border-width) solid var(--color);
    padding: 3px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: var(--border-width) solid var(--color);
    text-align: var(--text-align);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0
}

.socialmedia .box {
    border: var(--border-width) solid var(--color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    margin: 1rem;
}

header,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {

    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

main .grid {
    margin: 0;
    padding: 1rem;
}