:root {
    --heading-background-color: darkblue;
    --color: black;
    --tex-align: center;
    --height: auto;
    --pixel: 1px;
}

nav a {
    background-color: var(--heading-background-color);
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

img {
    width: 150px;
    height: var(--height);
    border: var(--pixel) solid var(--color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--pixel) solid var(--color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--tex-align);
}

aside img {
    width: 200px;
    height: var(--height);
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--pixel) solid var(--color);
    padding: 1rem;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 15px;
    border-top: var(--pixel) solid var(--color);
    text-align: var(--tex-align);
}