* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    --heading-background-color: darkblue;
    --color: black;
    --tex-align: center;
    --height: auto;
    --pixel: 1px;
}

nav a {
    display: block;
    text-decoration: none;
    background-color: var(--heading-background-color);
    color: white;
    display: block;
    padding: 1.25rem;
}

h1 {
    color: var(--heading-background-color);
    border-bottom: #333;
}

img {
    width: 150px;
    height: var(--height);
    border: var(--pixel) solid var(--color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    border: var(--pixel) solid var(--color);
    background-color: #eee;
    color: #333;
    text-align: var(--tex-align);
}

aside img {
    width: 200px;
    height: var(--height);
    position: relative;
    text-align: center;
}

aside h2 {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 3rem;
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--pixel) solid var(--color);
    padding: 1rem;
    box-shadow: 0 0 30px gray;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: var(--pixel) solid var(--color);
    text-align: var(--tex-align);
}

/* Class Selectors */
.box {
    border: var(--pixel) solid var(--color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    margin: 1rem;
}

header,
.gird,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {

    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gird {
    display: grid;
    align-items: center;
}