* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --heading-background-color: darkblue;
    --color: black;
    --tex-align: center;
    --height: auto;
    --pixel: 1px;
}

nav a {
    background-color: var(--heading-background-color);
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

img {
    width: 150px;
    height: var(--height);
    border: var(--pixel) solid var(--color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--pixel) solid var(--color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--tex-align);
}

aside img {
    width: 200px;
    height: var(--height);
    position: relative;
    text-align: center;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 3rem;
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--pixel) solid var(--color);
    padding: 1rem;
    box-shadow: 0 0 30px gray;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: var(--pixel) solid var(--color);
    text-align: var(--tex-align);
}

/* Class Selectors */
.box {
    border: var(--pixel) solid var(--color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    margin: 1rem;
}